/* Background image */
body {
  background-image: url("./assets/homepageBackgroundImage.png");
  background-color: lightgray;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

/* Text CSS */
h1 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-shadow: 0.5px 0.5px 0px #423ea1, -0.5px -0.5px 0px #423ea1,
    0.5px -0.5px 0px #423ea1, -0.5px 0.5px 0px #423ea1;
}

.slogan {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 700;
  color: #423ea1;
}

#quote {
  font-family: Inter, Arial, Helvetica, sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  color: #423ea1;
  font-weight: 400;
  font-size: 0.9rem;
}

/* Logo image size */
#weblogo {
  width: 3.5rem;
  height: 3.5rem;
  flex-shrink: 0;
}

#weblogo1 {
  width: 3.5rem;
  height: 3.5rem;
  flex-shrink: 0;
}

/* Button CSS */
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 1.5rem;
  height: 3.875rem;
  border: none;
  margin: 1.1rem 0;
}

.buttonContent {
  display: flex;
  width: 12rem;
  margin: auto;
}

.buttonText {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: white;
  padding-left: 1rem;
  font-size: 0.937rem;
  font-weight: 700;
}

/* Brag button */
#bragButton {
  background-color: #423ea1;
  border: none;
  box-shadow: 0px 4px 6px rgb(66, 62, 161);
}

/* Rant button */
#rantButton {
  background-color: #ee4f64;
  border: none;
  box-shadow: 0px 4px 6px rgb(238, 79, 100);
}

/* See Journal Button */
#seeJournalButton {
  background-color: #423ea1;
  border: none;
  box-shadow: 0px 4px 6px rgb(66, 62, 161);
}

/* Home page specific */
.buttons {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  align-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Header position logo and name*/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
  flex-direction: row;
  position: relative;
  bottom: 0;
  color: #423ea1;
  font-weight: 900;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

/* height: 7.875rem;
  background: #d4c4e1;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center; */

.slogan-quote-spacer {
  display: inline-block;
  width: 100px;
  height: 50px; /* Or whatever height you want, but setting it to 1px makes it effectively invisible */
}
/* Icon size  */
.button-icon {
  width: 1.5rem;
  height: 1.26956rem;
  flex-shrink: 0;
}
/* ------------------------------------------------------Journal page----------------------------------------------------------------  */
.journal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.8125rem;
  flex-shrink: 0;
  background: #d4c4e1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.headingContents {
  margin-left: 2rem;
  margin-right: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.back-button {
  display: flex;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  position: absolute;
  left: 2rem;
  cursor: pointer;
}

.goback_icon {
  height: 100%;
  width: 100%;
}

#weblogo {
  display: block;
}
/* .back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  margin: auto;
  cursor: pointer;
}

.goback_icon {
  height: 100%;
  width: 100%;
}

#weblogo {
  display: block;
  margin: 0 auto;
}
#weblogo1 {
  display: block;
  margin: 0 1rem;
} */

/* brag and rant button footer */
footer {
  height: 7.875rem;
  background: #d4c4e1;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
}

/* The bottom footer is persistant which means it covers up the base of the screen, this div is at the bottom of the html pages to artifically make the pages longer so you can always scroll to see all the content */

.footpad {
  height: 9rem;
}

/* Brag button */
.footerBragButton {
  background: #423ea1;
  width: 9.4rem;
  height: 4.4rem;
  align-items: center;
  box-shadow: 0px 4px 6px rgb(66, 62, 161);
  cursor: pointer;
}
.footerBragHeart {
  height: 1.4rem;
  flex-shrink: 0;
  margin-right: 1rem;
}

#footer-button-container {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/* Rant button */
.footerRantButton {
  background: #ee4f64;
  width: 9.4rem;
  height: 4.4rem;
  /* margin-left: 2rem; */
  align-items: center;
  box-shadow: 0px 4px 6px rgb(238, 79, 100);
  cursor: pointer;
}

.footerRantSkull {
  height: 1.6rem;
  flex-shrink: 0;
  margin-right: 1rem;
}

.footerButtonText {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  color: white;
}
/* Brag card styling */
/* Jounral card styling */
.journalEntries {
  padding-top: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  top: 3;
}
.brag-card {
  align-items: center;
  justify-content: center;
  background: #423ea1;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

.rant-card {
  align-items: center;
  justify-content: center;
  background: #ee4f64;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}
.card-date {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  color: rgb(228, 229, 231);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.card-icon {
  height: 1.1rem;
  flex-shrink: 0;
  margin-right: 10px;
}
.brag-card p {
  margin: 0;
  color: aliceblue;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rant-card p {
  margin: 0;
  color: aliceblue;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.cal-logo {
  margin-right: 0.5rem;
}

